<h2 id="title">Welcome to Ember</h2>

{{outlet}}

//k-autocomplete
{{k-autocomplete
  dataSource=dataSource
  dataTextField='title'
  value=autocomplete
}}

{{log 'autocomplete: ' autocomplete}}

//k-colorpicker
{{k-colorpicker
  palette='basic'
  tileSize=32
  buttons=false
  value=colorpicker
}}

{{log 'colorpicker: ' colorpicker}}

//k-combobox
{{k-combobox
  dataSource=dataSource
  dataTextField='title'
  value=combobox
}}

{{log 'combobox: ' combobox}}

//k-datepicker
{{k-datepicker
  value=datepicker
}}

{{log 'datepicker: ' datepicker}}

//k-datetimepicker
{{k-datetimepicker
  value=datetimepicker
}}

{{log 'datetimepicker: ' datetimepicker}}

//k-dropdownlist
{{k-dropdownlist
  dataSource=dataSource
  dataTextField='title'
  value=dropdownlist
}}

{{log 'dropdownlist: ' dropdownlist}}

//k-maskedtextbox
{{k-maskedtextbox
  mask="000000"
  value=maskedtextbox
}}

{{log 'maskedtextbox: ' maskedtextbox}}

//k-multiselect
{{k-multiselect
  dataSource=dataSource
  dataTextField='title'
  value=multiselect
}}

{{log 'multiselect: ' multiselect}}

//k-numerictextbox
{{k-numerictextbox
  value=numerictextbox
}}

{{log 'numerictextbox: ' numerictextbox}}

//k-slider
{{k-slider
  smallStep='0.01'
  largeStep='0.01'
  min='0.00'
  max='40.00'
  value=slider
}}

{{log 'slider: ' slider}}

//k-timepicker
{{k-timepicker
  value=timepicker
}}

{{log 'timepicker: ' timepicker}}
